<!-- <p> -->
<!--   Microcontrollers and embedded systems are my hobby. I once built an -->
<!--   installation for the Riga City Festival that used Arduino, a custom LED -->
<!--   driver, and a backend built with Flask and Redis to control the lights. -->
<!--   People could tweet their messages or enter them into a local terminal, -->
<!--   and the messages would be flashed using Morse code. -->
<!-- </p> -->
<!-- <p> -->
<!--   Lately, I have been learning Rust and OCaml. This website runs on a Rust -->
<!--   backend with my own implementation of Server Side Includes. The frontend -->
<!--   is vanilla JS with no frameworks. The CSS is Sakura.css with a few -->
<!--   customizations. -->
<!-- </p> -->
<!-- <p> -->
<!--   I am from Latvia, a small country in the Baltics. Latvia is part of the -->
<!--   EU and the Schengen zone. -->
<!-- </p> -->
<!-- <p> -->
<!--   I speak English, Latvian, and Russian. In the past, I lived in the -->
<!--   Netherlands and can understand some Dutch. -->
<!-- </p> -->
